@media(max-width: 960px) {
    .about__bg {
        height: 460px;
    }
    .tools__content {
        height: 400px;
    }
    .about__item {
        height: 400px;
    }
    .tools__info {
        max-width: 430px;
        margin-right: 36px;
    }
    .footer__logo-text {
        margin-right: 20px;
    }
}

@media(max-width: 860px) {
    .burger__menu {
        display: flex;
        right: 5pxpx;
    }
    .burger__menu.active::before {
        transform: rotate(45deg);
        top: 11px;
    }
    .burger__menu.active::after {
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .burger__item.active {
        display: none;
    }
    .header__nav {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #181818;
        top: -200%;
        transition: all .5s;
    }
    .header__nav.active {
        top: 93px;
        transition: all .5s;
    }
    .header__nav-list {
        flex-direction: column;
    }
    .header__nav-item+.header__nav-item {
        margin-top: 10px;
        margin-left: 0;
    }
    .header__nav-btn {
        transform: translateY(9px);
    }
    body {
        font-size: 13px;
        line-height: 16px;
    }
    .header__nav-item {
        font-size: 14px;
        line-height: 20px;
    }
    .about__inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .tools__info {
        max-width: 290px;
    }
    .clients__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .clients__item {
        margin: 10px;
    }
}

@media(max-width: 800px) {
    .about__bg {
        height: 380px;
    }
    .footer__search-form {
        max-width: 350px;
    }
    .footer__list {
        width: 190px;
    }
}

@media(max-width: 720px) {
    .tools__inner {
        flex-direction: column;
        padding: 50px 0;
    }
    .tools__info {
        max-width: 500px;
        margin-bottom: 55px;
        text-align: center;
        margin-right: 0;
    }
    .footer__top {
        margin-bottom: 0;
    }
}

@media(max-width: 680px) {
    .footer__search-box {
        padding: 23px 0;
        margin-bottom: 40px;
        flex-direction: column;
    }
    .footer__search-info {
        margin-bottom: 10px;
    }
    .footer__search-title {
        margin-bottom: 5px;
    }
    .footer__search-form {
        width: 100%;
        max-width: 100%;
    }
    .footer__content {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer__logo {
        text-align: center;
        flex: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__logo-text {
        max-width: 100%;
    }
}

@media(max-width: 530px) {
    .footer__copy {
        flex-direction: column-reverse;
    }
    .social {
        margin-bottom: 20px;
    }
    .footer__list+.footer__list {
        margin-left: 0;
    }
    .footer__title,
    .clients__title {
        font-size: 30px;
        line-height: 34px;
    }
    .btn {
        padding: 8px 9px 10px 41px;
    }
    .btn::before {
        width: 28px;
        height: 28px;
    }
    .tools,
    .clients__list,
    .clients {
        margin-bottom: 70px;
    }
    .footer__content {
        padding-top: 70px;
    }
}

@media(max-width: 428px) {
    .footer__list+.footer__list {
        padding-top: 20px;
    }
    .info__list {
        right: 10%;
        width: auto;
        bottom: 35px;
        flex-direction: column;
        align-items: flex-start;
    }
    .info__list-item+.info__list-item {
        margin-top: 5px;
    }
    .header__content-inner {
        padding-bottom: 70px;
    }
    .about__bg-box {
        max-width: 360px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .info__list.info__list-title {
        bottom: 0px;
        right: 11px;
        flex-direction: row;
        width: 85%;
    }
    .info__list.info__list-title .info__list-item+.info__list-item {
        margin-top: 0;
    }
}

@media(max-width: 360px) {}